
body{
    display: flex;
    /* justify-content: space-between; */
}

.main{
    background-color: rgb(19, 58, 102);
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin-left: 50px;
}
#res {
    background-color: rgba(122, 87, 53, 0.281);
    /* padding: 10px; */
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
}
#ptr{
    background-color: greenyellow;
}
#network0 , #amt ,#gene, .del{
    padding: 2px;
    border-radius: 3px;
    box-shadow: 0 0 3px gainsboro;
    background-color: rgb(128, 128, 128);
}
.del{
    margin:5px 0 0  15px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    border-radius: 0px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgba(102, 100, 100, 0.048); 
    border-radius: 5px;
    
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128); 
    }



#myPhone{
    background-color: rgba(0, 0, 0, 0.897);
    height: 600px;
    width: 344px;
    border-radius: 35px;
    padding: 0 5px;
    border: 3px solid silver;
}
#volume{
    position: absolute;
    width: 10px;
    height: 80px;
    border-radius: 7px;
    background-color: rgba(65, 7, 7, 0.897);
    top: 100px;
    left: 365px;
    z-index: -1;
}
#on{
    position: absolute;
    width: 10px;
    height: 40px;
    border-radius: 7px;
    background-color: rgba(65, 7, 7, 0.897);
    top: 200px;
    left: 365px;
    z-index: -1;
}
#head{
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-radius: 35px 35px 0 0 ;
    padding:15px 45px;
    /* background-color: hotpink; */
    /* background-color: rgba(0, 0, 0, 0.897); */
}
#cam{
    background-color: rgb(49, 49, 49);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#speaker{
    position: relative;
    top: 7px;
    left: 15px;
    box-shadow: 0 0 5px rgb(31, 30, 30) inset;
    background-color: rgba(36, 35, 35, 0.664);
    width: 50px;
    height: 5px;
    border-radius: 10px;
}
#nokia{
    position: relative;
    top: -2px;
    color: rgba(192, 192, 192, 0.801);
    font-weight: bold;
    /* line-height: 5px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main{
    position: relative;
    height: 494px;
    width: 344px;
}
#foot{
    position: relative;
    /* top: 495px; */
    height: 50px;
    border-radius: 0px 0px 35px 35px ;
    /* box-shadow: 0 0 4px rgba(83, 87, 83, 0.747); */
    /* background-color: rgba(0, 0, 0, 0.897); */
}
#content{
    /* margin:0 8px; */
    width: 333px;
    background-image: url(imgs/red.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    height: inherit;
}
#back_img{
    width: 328px;
    height: inherit;
}
/* #below_fixed{
    background-color: navy;
    position: fixed;
} */
#home{
    position: absolute;
    bottom: 10px;
    left: 150px;
    background-color: ivory;
    height: 10px;
    width: 30px;
    border-radius: 10px;
}
.home2{
    position: absolute;
    bottom: 10px;
    left: 150px;
    height: 10px;
    width: 30px;
    background-color: rgb(143, 134, 134);
    border-radius: 10px;
}
#goo_bar{
    position: absolute;
    bottom: 30px;
    margin-left: 10px;
    width: 300px;
    background-color:ivory;
    border-radius: 50px;
}
#goo_search{
    background-color: transparent;
    outline: none;
    border: none;
}
#goo_search:focus{
    box-shadow: none;
}

.goo_logo{
    background-color: transparent;
    border: none;
}
#quick_pick{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 300px;
    bottom: 75px;
    /* background-color: olive; */
    height: 50px;
}
#date{
    position: relative;
    top: 20px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0 0 12px;
    width: 250px;
    height: 30px;
}
#content1{
    /* background-color: lawngreen; */
    height: 350px;
    width: 330px;
    overflow: auto;
}
#content2{
    /* background-color: transparent; */
    /* background-color: turquoise; */
    height: 300px;
    /* width: 400px; */
    /* overflow: scroll; */
}
#gram{
    position: relative;
    left: 500px;
}
#snap{
    position: relative;
    left: 220px;
    top: 50px;
}
#tweet{
    position: relative;
    left: 400px;
    top: 120px;
}
#call2{
    position: relative;
    left: 810px;
    top: -50px;
}
#realcon{
    position: relative;
    height: 494px;
    width: 329px;
    background-color: white;
    display: none;
    /* margin: 0 1%; */

}
#searchcon{
    position: absolute;
    top: 15px;
    z-index: 5;
    margin-left: 20px;
    width: 300px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(87, 85, 85, 0.425);
}
#toocon{
    position: absolute;
    top: 410px;
    z-index: 5;
    /* background-color: green; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgb(165, 157, 157);
    height: 50px;
    width: inherit;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.con_icons{
    background-color: transparent;
    width: 30px;
}
.i_con{
    color:grey;
    margin:-5px 0 5px 15px;
    /* width: 2rem;  */
}

#_pad{
    position: relative;
    z-index: 5;
    top: 340px;
    left: 270px;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: rgb(82, 126, 177);

}
#num_dial{
    position: relative;
    height: 494px;
    width: 329px;
    background-color: whitesmoke;
    /* background-color: teal; */
    display: none;
}
#suggest_num{
    /* background-color: tomato; */
    width: inherit;
    height: 180px;
    z-index: -1;
    overflow: auto;
}
#real_dial{
    position: absolute;
    bottom: 0px;
    /* background-color: green; */
    z-index: 3;
    width: inherit;
    box-shadow: 0 0 5px rgba(150, 145, 145, 0.548);
    height: 314px;
    
}
#num_disp{
   display: flex;
   height: 50px;
   width: inherit;
   border-bottom: 1px solid rgba(172, 161, 161, 0.356); 
}
#maindiv{
    /* background-color: lawngreen; */
    padding: 8px 0;
    text-align: center;
    width: 280px;
    height:inherit;
    overflow: auto;
    font-size: 20px;
    color: gray;
}
#del_icon{
    /* background-color: peru; */
    padding: 10px 0 0 15px;
    width: 49px;
    height:inherit;
}
#num_type{
    /* background-color: firebrick; */
    width: inherit;
    height: 235px;
}
#numbers{
    width: inherit;
    height: inherit;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
    /* background-color: plum; */
}
.con{
    height: 45px;
    padding-top: 2px;
    margin: 2px 0;
    width: inherit;
    /* background-color: khaki; */
    display: flex;
    justify-content: space-around;
}
#green_call{
    background-color: rgb(105, 192, 93);
    box-shadow: 0 2px 5px rgb(148, 144, 144);
    height: 42px;
    width: 42px;
    border-radius: 50%;
}
/* #send_call{

} */
.pick_num{
    /* background-color: indianred; */
    padding-top: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    color: rgb(27, 27, 197);
}
/* .eff_num{
    box-shadow: 5px 5px 20px rgb(148, 143, 143);
    background-color: rgba(148, 143, 143,0.3)
} */
#network, #network2, #network3{
    z-index: 6  ;
    position: absolute;
    top: 77px;
    width: 329px;
    height: 495px;
    background-color: rgba(0, 0, 0, 0.555);
    padding:180px 60px ;
    box-sizing: border-box;
    display: none;
}
#net_modal, #net_modal2, #net_modal3 {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: whitesmoke;

}
#c_sim{
    /* background-color: violet; */
    padding: 5px;
    font-size: 10px;
    font-weight: 600;

}
.sim{
    /* background-color: turquoise; */
    padding: 6px;
    color: gray;
}
/* #sim_airtel{
    background-color: yellowgreen;
} */
#ussd{
    color: gray;
    font-size: 12px;
    padding: 8px;
}
.recharge{
    color: rgb(211, 204, 204);
    font-size: 14px;
}
#pos{
    display: flex;
}
.d_click{
margin-left: 180px;
/* align-self: flex-end; */
}
#end_call{
    background-color: red;
    box-shadow: 0 2px 5px rgb(148, 144, 144);
    height: 42px;
    width: 42px;
    border-radius: 50%;
}
#ans_call{
    display: none;
    width: 329px;
    height: 495px;
    background-color: rgb(255, 255, 255);
}
#face{
    /* background-color: cornflowerblue; */
    height: 200px;
}
#call_icons{
    /* background-color: chartreuse; */
    height: 290px;
}
.c_cons{
    /* background-color: yellow; */
    height: 95px;
    padding-top: 2px;
    margin: 2px 0;
    width: inherit;
    display: flex;
    justify-content: space-around;
}
.pick_c{
    color: rgb(71, 68, 69);
    padding: 15px;
    /* width: 100px; */
    font-size: 16px;
}
.fas1, .bi1{
    /* padding-left: 10px; */
    font-size: 25px;
    color: darkgray;
    /* background-color: cyan; */
}
#r_pos{
    padding-top: 25px;
}
#con_face{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
#con_pic{
    background-color: turquoise;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
    padding-left:10px;
}
.bi2{
    position: relative;

    top: -30px;
    left: -5px;
    font-size: 78px;
    color: white;
 
 }
#call_by{
    margin-left: auto;
    margin-right: auto;
    color: rgb(184, 179, 179);
    width: 150px;
    text-align: center;
    height: 25px;
    padding: 5px;
}
#place_sim{
    color: orange;
}
#disp_num{
    /* background-color: orchid; */
    /* width: 150px; */
    text-align: center;
    height: 40px;
    font-size: 25px;
}
#disp_sec{
    /* background-color: orchid; */
    color: grey;
    /* width: 150px; */
    text-align: center;
    height: 15px;
    font-size: 12px;
}
.ho
.home3{
    position: absolute;
    top: 550px;
    left: 185px;
    height: 10px;
    width: 30px;
    background-color: rgb(143, 134, 134);
    border-radius: 10px;
}
#scrollconlist{
    position: relative;
    top: 30px;
    height: 320px;
    overflow: auto;
    /* background-color: yellow; */
}
#main_list{
    width: inherit;
    /* background-color: rebeccapurple; */
    /* height: 500px; */
}
.con_list{
    /* background-color: violet; */
    margin-top: 5px;
    height: 60px;
    display: flex;
    justify-content: space-between;

}
.recent{
    /* background-color: yellowgreen; */
    width: 83%;
    height: inherit;
    display: flex;
    justify-content: space-between;
}
.str_call{
    /* background-color: darkgreen; */
    height: inherit;
    width: 15%;
    padding: 20px;
}

.tele2{
    color: white;
    font-size: 20px;
    margin-left: 12px;
    margin-top: 30px;
}
.face_con{
    /* background-color: peru; */
    padding: 7px 3px ;
    width: 20%;
}
.con_info{
    /* background-color: red; */
    width: 75%;
}
.circle_con{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: maroon;
}
.name{
    /* background-color: mediumblue; */
    height: 40%;
    font-size: 16px;
}
.time{
    /* height: 20%; */
    /* background-color: mediumvioletred; */
    color: rgb(143, 136, 136);
    font-size: 8px;
}
.sim2{
    color: orange;
    font-size: 8px;
    /* height: 20%; */
    /* background-color: green; */
}